:root {
  --index: calc(1vw + 1vh);
  --color-header: #e535ab;
  --color-h: #00b96b;
  --color-text: #f5f0f0;
}
@font-face {
  font-family: 'raleway-c';
  src: url('../../../assets/fonts/raleway-regular.woff2');
  font-display: fallback;
}
@font-face {
  font-family: 'outfit-c';
  src: url('../../../assets//fonts//outfit-regular.woff2');
  font-display: fallback;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'outfit-c';
}
.content,
.hero,
.main_header,
.gallery > * {
  will-change: transform;
}
.hero {
  width: calc(var(--index) * 15);
  position: absolute;
  left: 60vw;
  top: 25vh;
  // z-index: -1;
}
.main_header {
  height: 100vh;
}
.content {
  padding: 1vw 1vw;
}
.main_title {
  font-size: calc(var(--index) * 5);
  position: absolute;
  width: min-content;
  bottom: 28vh;
  left: 5vw;
  line-height: 0.9;
  color: var(--color-header);
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
}

.img {
  width: 400px;
  height: 400px;
  border-radius: 8px;
}

.text_block {
  color: var(--color-text);
  position: relative;
}
.text_block__h {
  font-size: 3rem;
  line-height: 2.4rem;
  color: var(--color-h);
}
.text_block__p {
  width: 400px;
  font-size: 1.5rem;
  color: var(--color-text);
  line-height: 1.75;
  text-align: justify;
}

.team__h {
  font-family: 'raleway-c';
  font-size: 4rem;
  line-height: 2.4rem;
  color: var(--color-h);
  margin-bottom: 100px;
}

// /* For screens smaller than 600px */
@media (min-width: 320px) and (max-width: 599px) {
  .hero {
    top: 16vh;
  }
  .gallery__item {
    flex-direction: column;
    margin-bottom: 50px;
    gap: 20px;
    align-items: center;
  }
  .img {
    width: 200px;
    height: 200px;
  }
  .text_block__p {
    width: 200px;
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .text_block__h {
    font-size: 1.6rem;
    line-height: 1.2rem;
  }
  .team__h {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 40px;
  }
  .gallery:last-child {
    margin-bottom: 150px;
  }
  .hero {
    left: 25vw;
  }
  .main_title {
    left: 12vw;
  }
}

// /* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  .img {
    width: 250px;
    height: 250px;
  }
  .text_block__p {
    width: 250px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
  }
  .text_block__h {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color-h);
  }
  .team__h {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-h);
    margin-bottom: 40px;
  }
  .main_title {
    bottom: 43vh;
  }
  .gallery:last-child {
    margin-bottom: 200px;
  }
}

// /* For screens larger than 900px */
// @media (min-width: 900px) {
// }
