.icon {
  height: 1.7rem;
  width: auto;
  cursor: pointer;

  @media (max-width: 550px) {
    height: 1.5rem;
  }
}

.github {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.rs {
  height: 1.7rem;

  @media (max-width: 550px) {
    height: 1.5rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 10px 0 6px;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 0.8rem;
  }
}

.h {
  color: rgba(255, 255, 255, 0.65);
}
