.icon {
  height: 2rem;
  width: auto;
  cursor: pointer;
}

.github {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.rs {
  margin-left: 200px;
  height: 2rem;
}

.footer {
  position: 'sticky';
  bottom: 0;
  left: 0;
  right: 0;
  height: '10vh';
  text-align: 'center';
  z-index: 2;
}
