.option {
  height: 25vh !important;
  resize: none !important;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #dcdcdc;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #00b96b;
    border-radius: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: .8rem 0.5rem .8rem 0;
}

.buttons {
  display: flex;
  gap: .8rem;
}

.icon {
  display: flex;
  cursor: pointer;
}
